@font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium'), url('../../fonts/Poppins-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), url('../../fonts/Poppins-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}