@use "/src/scss/base/variables.scss" as *;

.contacts {
    padding-top: 126px;


    &__photo {
        width: 400px;
        height: 600px;
    }

    &__form {
        padding-left: 68px;
    }

    &__social {
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style-type: none;
        width: 30px;
        height: 30px;

        a {
            text-decoration: none;
            font-size: 29px;
            color: $dark-color;
            cursor: pointer;
        }
    }
}