@use "/src/scss/base/variables.scss" as *;

.portfolio {
    padding-top: 126px;
    background-color: $white-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__grid {
        margin-top: 85px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }

    &__item-plans {
        grid-row: 1/3;
        grid-column: 4/4;
    }

    &__item-mac {
        grid-column: 2/4;
    }
}