@use "/src/scss/base/fonts.scss";
@use "/src/scss/base/basic.scss";
@use "/src/scss/base/modern-normalize.min.css";

@use "/src/scss/ui/titles.scss";
@use "/src/scss/ui/buttons.scss";

@use "/src/scss/blocks/head.scss";
@use "/src/scss/blocks/about.scss";
@use "/src/scss/blocks/career.scss";
@use "/src/scss/blocks/skills.scss";
@use "/src/scss/blocks/porfolio.scss";
@use "/src/scss/blocks/price.scss";
@use "/src/scss/blocks/contacts.scss";